
.contact_section{
    width: 100%;
    height: auto;
    height: auto;
    background-color: var(--bg);
    border-radius: 25px;
    border: 0.1px dotted var(--text);
}

.contact_us h1 {
    color: var(--text);
    font-weight: 200;
    font-size: x-large;
    padding: 25px;
    text-align: center;
    /* border-bottom: 1px #191919 solid; */
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.contact_input{
    width: 50%;
    margin-bottom :35px;
    /* background-color: #007bff;
    border: 2px #dc2424; */
}

.contact_input label {
    margin-bottom :10px;
    display: block;
    color: var(--text);
}
.contact_input input {
    width: 100%;
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 3px;
}

.contact_area{
    width: 100%;
    margin-bottom: 35px;
}

.contact_area label{
    display: block;
    margin-bottom :10px;
    color: #777;
}

.contact_area textarea {
    width: 100%;
    height: 160px;
    padding: 10px;
    resize: none;
    border: 1px #ccc solid;
    border-radius: 3px;
}

.btnnn {
    width: 140px;
    height: 40px;
    border: 2px #007BFF solid;
    color: white;
    border-radius: 10px;
    background-color: #007BFF;
    cursor: pointer;
    font-size: large;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btnnn:hover{
    color: rgb(61, 61, 61);
    background-color: #d0e7ff;
    border: none;

}

.btn_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

hr {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  border: 0.1px rgb(112, 112, 112) dotted;
}

    
.seccnd_section{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 45px;
}

.contact_left{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}
.contact_left img{
    width: 250px ;
    height: auto;
    
}


.contact_right{
    width: 50%;
    height: auto;
}
.contact_right p {
    font-size: large;
    font-weight:200 ;
}



input:focus,
textarea:focus,
button:focus {
    outline: none;
}


@media screen and (min-width : 1500px) {
   .contact_us .container {
    padding: 0px 300px;
   } 
}


@media screen and (max-width : 1500px) {
.contact_us .container {
    padding: 0px 100px;
   }
}

@media screen and (max-width : 1300px) {
.contact_us .container {
    padding: 0px 80px;
   }
}

@media screen and (max-width : 1050px){
    .contact_us .container {
    padding: 0px 60px;
   }
}

@media screen and (max-width : 750px) {
.contact_us .container {
    padding: 0px 50px;
   }
   .contact_left , .contact_right{
        width: 100%;
    }
}

@media (max-width: 600px) {}

@media screen and (max-width : 540px) {
.contact_us .container {
    padding: 0px 30px;
   }

    .contact_input {
        width: 100%;
    }


    .contact_left , .contact_right{
        width: 100%;
    }
}
